.site-brand {
    font-family: Unbounded;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-link:hover,
.btn:hover,
.navbar-brand:hover {
    text-decoration: none;
}

a.no-decor {
    text-decoration: none;
    color: inherit;
}

a.no-decor:hover {
    text-decoration: none;
    color: inherit;
}

.card .dropdown {
    z-index: 9000;
    position: relative;
}
